<h3>Agregar</h3>
<hr>

<form (ngSubmit)="agregar()">
    <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre" />
    <!-- 
            los parentesis son para escuchar algun evento y
             los corteches son para establecer alguna propiedad
            [value]="nuevo.nombre"
        (input)="cambiarNombre( $event )"-->
    <input type="number" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder" />

    <button type="submit">
        Agregar
    </button>
</form>